body{

  /*font-family: 'PT Sans Narrow', sans-serif;*/
  font-family: 'Patua One', cursive;
}

#displayNewspaperGif {

    background-image: url("../img/newsPrint.gif");
    color: white;
    height: 250px;
    /*background-color: #cccccc;*/
}

.card-img-top {
  height: 140px;
  width: 238px;
}

li {
  font-size: 20px;
}

.title{
    font-size: 25px;
}

.saveArticle {
  background-color: #F8C471;
  border-color: #F8C471;
}


